.contentTable {
    @apply
        min-w-full
        
        border-2
        dark:border-neutral-500

        text-center
        text-xl 
        text-slate-600
        font-light 
}

.contentTable thead {
    @apply
        border-b
        dark:border-neutral-500
        
        font-medium 
}

.contentTable th {
    @apply
        border-r
        dark:border-neutral-500
        
        px-6 
        py-4 
}

tbody tr {
    @apply
        border-b 
        dark:border-neutral-500
}

tbody td {
    @apply
        whitespace-nowrap
        
        border-r
        dark:border-neutral-500 
        
        px-6 
        py-4 
        
        font-medium
}